$primary-color: #FAD147;
$secondary-color: #C0C7D9;
$danger-color:#da3d3d;
$dymgray-color: #EFEFEF;
$white-color: white;
$blue-color: #1B2D54;
$dark-color: #595959;
$dark-gray-color: #dbdbdb;
$gray-color: #F9F9F9;
$border-radius-sm: 5px;

$layout-breakpoint-small: 720px; 