@import '../../../../sass/vars';

.app-snackbar {
  position: absolute;
  top: 10px;
  right: 50px;
}
.container{
  margin: 0 auto;
  max-width: 1200px;
}
.snackbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  width: 390px;
  height: 48px;
  padding: 6px 16px;
  box-sizing: border-box;
  color: $white-color;
  background: $dark-color;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}


/**/
.button {
  padding: 0 16px;
  height: 2.5rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.button.text {
  border: none;
  background-color: transparent;
}